<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Library Management System</a></h1>
        </div>

        {% for post in posts %}
            <div>

                <h2>Book: {{ post.title }}</h2>
                <p>Issued on: {{post.Isuued_date}}  ||  Return date: {{post.Return_date}}  || Issued to: {{post.Issued_to}}  || Book code: {{post.book_code}} </p>
                <p>Author: {{post.author}} || Publisher: {{post.Publisher}}</p>

            </div>
        {% endfor %}
    </body>
</html>